:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404BBF;
    --color-navy-blue: #2E2F42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #E7E9FC;
    --color-cloud: #F4F4FD;
    --color-white: #FFFFFF;
    --color-dairy: #fcfcfc;
}

.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    position: relative;
    width: 1440px;
    height: 2592px
}

/*INDEX*/



/*HEADER*/

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.link {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    text-decoration: none;
}

.heade {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 115px;
    height: 24px;
    top: 24px;
    right: 1169;
    left: 156px;
}

.header-logo-two {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    line-height: 1.17;
}

.list {
    list-style: none;
    flex-direction: row;
}

.menu-nav-list{
flex-direction: row;
}

.menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    flex-direction: row;
    left: 347px;
    right: 832px;
}


.menu-nav:hover {
    color: #404bbf
}

.menu-nav:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}


.address-item-one {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-item-two {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    left: 1133px;
    top: 24px;
}




.address-item:hover {
    color: #404bbf;
}

.address-item:focus {
    color: #404bbf;
}


/*SECTION 1*/


.section-one {
    background-color: #2e2f42;
}

.main-title {
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-size: 56px;
    position: absolute;
    width: 496px;
    height: 120px;
    right: 472;
    left: 472px;
    top: 188px;
}

.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    position: absolute;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
}

.button-text {
    width: 105px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}



.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}


/*SECTION 2*/

.second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}



.value-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.value-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*SECTION 3*/

.third-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}


/*SECTION 4*/

.section-fourth {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-item {
    background-color: #FFFFFF;
}

.h-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.p-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*FOOTER*/

.footer {
    background-color: #2e2f42;
}

.footer-logo-two {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.logo-footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}





/*   PORTFOLIO   */


.portfolio-menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-menu-nav:hover {
    color: #404bbf
}

.portfolio-menu-nav:focus {
    color: #404bbf;
}

.portfolio-buttons {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.portfolio-buttons:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.portfolio-buttons:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.div-portfolio {
    border: #2E2F42;
    border-top: none;
}

.section-one {
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
    background: #2E2F42;
}